@{
    ViewBag.Title = "Projeto Teste de Pesquisa de Hotéis Totvs";
}

<div class="row">
    <div class="col-md-10">
        <h2>Pesquisa de Hotéis Totvs</h2>
        <p>
            Bem vindo ao nosso sistema para pesquisa de hotéis da Totvs. Somos todos Totvs :)
        </p>
    </div>
</div>